<!DOCTYPE html>
<meta charset="UTF-8">
<html ng-app="app" ng-controller="Controller" ng-keypress="shortcut($event)" ng-keydown="keydown($event)" ng-keyup="keyup($event)">

<head>

<link rel="shortcut icon" type="image/svg+xml" href="./favicon.svg" type="image/x-icon">
<link rel="icon" type="image/svg+xml" href="./favicon.svg" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="style.css">

<script src="../diacritics/diacritics.js"></script>
<script src="../angular/angular.js"></script>
<script src="contrast.js"></script>
<script src="script.js"></script>
<title>Hypercube Editor 1.0</title>
	
</head>

<body>
<div class="tabs"><span class="tab" ng-repeat="tab in ::TAB_NAMES" 
		ng-click="setTab($index)"
		ng-style="{'background-color': tabIndex == $index ? 'black' : 'white', 'color': tabIndex == $index ? 'white' : 'black'}">{{tab}}</div>

<div ng-switch="tabIndex">
	<div ng-switch-when="0">

	<div class="menu">
		<span class="menu-item menu-left"></span>
		<span class="menu-item menu-center"><img ng-repeat="colorItem in ::COLORS"
				ng-click="toggleColor($index, $event)"
				ng-src="{{(colorSelected($index) ? 'symbols' : 'disabled-symbols') + '/' + colorItem.toLowerCase() + '.svg'}}"
				class="colorSelector"
				height="40" width="40"></span>
		<span class="menu-item menu-right"><span class="view-indicator noselect" ng-click="toggleView()">{{viewIndex == 0 ? 'Main' : 'Reserve'}}</span><button class="menu-button" ng-click="upload()">Load</button><button class="menu-button" ng-click="saveProgress()">Save</button><button class="menu-button" ng-click="listTrash()">Trash</button><button class="menu-button" ng-click="exportView()">Export</button></span>
	</div>

	<table class="view" ng-class="viewIndex == 0 ? 'view-main' : 'view-reserve'">
		<thead>
			<tr>
				<th class="label grand-total">Total: {{totals[color].total}}</th>
				<th class="label center" ng-repeat="manaCost in columnLabels">{{manaCost}} <span class="total" ng-show="totals[color].colTotals[$index]">{{totals[color].colTotals[$index]}}</span></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in cube[viewIndex][color]" ng-init="rowIndex = $index" ng-show="rowNonempty(row) || totals[color].rowTotals[$index]">
				<td class="label">{{rowLabels[rowIndex]}} <span class="total" ng-show="totals[color].rowTotals[$index]">{{totals[color].rowTotals[$index]}}</span></td>
				<td class="container" ng-repeat="group in row" ng-init="colIndex = $index">
					<div class="card noselect" ng-repeat="card in group track by $index"
							ng-click="switchOut(rowIndex, colIndex, $index, $event)" 
							ng-mouseover="showCard(card, $event)"
							ng-mouseout="hideCard()"
							ng-mousemove="cardText.setPosition($event.clientX, $event.clientY)">
						<span class="quantity" ng-show="quantities[card] && quantities[card] > 1">{{quantities[card.name]}}</span>{{card.name}}
						<div ng-if="settings.showOffColors" class="off-colors"><img class="off-color" 
								ng-repeat="color in card.offColors|toArray" 
								ng-src="{{'symbols/' + color + '.svg'}}"
								height="10" width="10">
						</div>		
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<input type="file" class="nodisplay" id="upload" onchange="angular.element(this).scope().readFile(event)">
	<a class="nodisplay" id="download"></a>

	<div class="card-text" 
			popup="cardText"
			popup-padding="10"
			ng-class="{hidden: !(card.show && card.hover)}">{{card.text}}</div>

	</div>
	<div ng-switch-when="1">
		???
	</div>
	<div ng-switch-when="2">
		<div class="tag-view">
			<div class="tag-column left">
				<div class="tag-entry" ng-repeat="tag in tagNames()" 
						ng-style="{'background-color': tags[tag], 'color': contrastingColorForTag(tag)}">
					<div class="tag-name">{{tag}}</div>
					<div class="tag-color">color</div>
					<div class="tag-close">
						<svg viewPort="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
							<g ng-style="{'stroke': contrastingColorForTag(tag)}">
								<line x1="2" y1="12" x2="12" y2="2" stroke-width="2" />
								<line x1="2" y1="2" x2="12" y2="12" stroke-width="2" />
							</g>
						</svg>
					</div>
				</div>
				<input type="range" min="0" max="255" ng-model="colorPicker[0]">
				<input type="range" min="0" max="255" ng-model="colorPicker[1]">
				<input type="range" min="0" max="255" ng-model="colorPicker[2]">
				<div style="font-family:Courier" ng-style="{'background-color':hexColor(), 'color':contrastingColor(hexColor())}">{{hexColor()}}</div>
			</div>
			<div class="tag-column right">
<select>
    <option value="1" style="color:red">Apple</option>
    <option value="2" style="color:yellow">Banana</option>
    <option value="3" style="color:purple">Grape</option>
</select>
			</div>
		</div>
	</div>
	<div ng-switch-when="3">
		<input type="checkbox" ng-model="settings.showOffColors"></input><span class="setting">Show off-colors</span>
	</div>
</div>
		
</body>

</html>
