body {
	background-color: #ededed;
}

.table {
	display: table;
	table-layout: fixed;
	border-spacing: 2px;
	width: 100%;
	height: 100%;
	background-color: #595959;
	border-radius: 8px 8px 0 8px;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}

.container {
	overflow: hidden;
	background-color: #EDEDED;
}

.label {
	color: white;
	font-family: Tahoma;
	font-size: 12px;
	vertical-align: middle;
	padding: 2px;
	font-weight: bold;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.rowLabel {
	width: 300px;
}

.card {
	/*
	border-bottom: 2px solid #999999;
	border-left: 2px solid #999999;
	border-radius: 4px;
	*/
	
	font-family: Tahoma;
	font-size: 11px;
	padding: 2px;
	overflow: hidden;
    white-space: nowrap;
	position: relative;
}

.tagContainer {
	position: absolute;
	top: 1px;
	right: 1px;
}

/*
.tagDot {
	width: 8px;
	height: 8px;
	vertical-align: top;
	display: inline-block;
}
*/

.offColor {
	vertical-align: top;
}

.tag {
	margin-left: 1px;
}

.circle {
	border-radius: 6px;
}

.red {
	background-color: #38F3AB;
}

.blue {
	background-color: #FFD700;
}

.card:not(:last-child) {
	margin-bottom: 2px;
}

.grandTotal {
	color: white;
	font-family: Courier;
	font-size: 14px;
	font-style: italic;
}

.total {
	padding: 0px 2px 0px 0px;
	color: white;
	font-family: Courier;
	font-size: 10px;
	font-style: italic;
	float: right;
	vertical-align: bottom;
	text-decoration: underline; 
}

.colors {
	text-align: center;
	padding: 4px;
}

.colorSelector {
	margin: 4px;
}

.menu {
	float: right;
}

.view {
	display: inline-block;
	font-family: Courier;
	font-size: 14px;
	font-style: italic;
	width: 100px;
	text-align: center
}

.hide {
	display: none;
}

#mouseoverDisplay {
	display: block;
	width: 300px;
	white-space: pre-wrap;
	position: fixed;
	font-family: Tahoma;
	font-size: 12px;
	border-radius: 6px;
	background-color: #595959;
	color: white;
	padding: 4px;
}

button {
	border: 2px outset;
	border-radius: 0;
	font-family: Courier;
	font-size: 12px;
}

button:active {
	border: 2px inset;
}

button::-moz-focus-inner {
	border: 0;
}

.hidden {
	visibility: hidden;
}

.noselect {
	cursor: default;
	/* whatever */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
