body {
	background-color: #ededed;
	margin: 4px;
}

.view {
	table-layout: fixed;
	border-spacing: 2px;
	width: 100%;
	background-color: #595959;
	border-radius: 8px 8px 0 8px;
}

.container {
	vertical-align: top;
	overflow: hidden;
	background-color: #EDEDED;
	padding: 0;
}

.label {
	color: white;
	font-family: Tahoma;
	font-size: 12px;
	vertical-align: middle;
	padding: 2px;
	font-weight: bold;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.card {
	
	/*
	border-bottom: 2px solid #999999;
	border-left: 2px solid #999999;
	border-radius: 4px;
	*/
	
	font-family: Tahoma;
	font-size: 11px;
	padding: 2px;
	overflow: hidden;
    white-space: nowrap;
	position: relative;
}

.off-colors {
	display: inline-block;
	position: absolute;
	top: 1px;
	right: 1px;
}

.off-color {
	vertical-align: top;
}

.card:not(:last-child) {
	margin-bottom: 2px;
}

.grand-total {
	text-align: left;
	color: white;
	font-family: Courier;
	font-size: 14px;
	font-style: italic;
}

.total {
	text-align: center;
	font-family: Courier;
	font-size: 10px;
	float: right;
	vertical-align: bottom;
	border-radius: 4px;
	padding: 0 1px;
	color: lime;
	border: 1px solid white;
	min-width: 12px;
}

.menu {
	display: flex;
	margin: 8px 0px 8px 0px;
}

.menu-item {
	align-items: center;
}

.menu-left, .menu-right{
	flex: 1;
	display: flex;
}

.menu-left {

}

.menu-center {
	white-space: nowrap;
	text-align: center;
}

.menu-right {

}

.colorSelector {
	vertical-align: middle;
}

.colorSelector:not(:last-child) {
	margin-right: 8px;
}

.view-indicator {
	display: inline-block;
	font-family: Courier;
	font-size: 14px;
	font-style: italic;
	width: 100px;
	text-align: center
}

#mouseover-display {
	width: 25vw;
	min-width: 200px;
	white-space: pre-wrap;
	position: fixed;
	font-family: Tahoma;
	font-size: 12px;
	border-radius: 6px;
	background-color: #595959;
	color: white;
	padding: 4px;
}

button {
	border: 2px outset;
	border-radius: 0;
	font-family: Courier;
	font-size: 12px;
}

button:active {
	border: 2px inset;
}

button::-moz-focus-inner {
	border: 0;
}

.nodisplay {
	display: none;
}

.hidden {
	visibility: hidden;
}

.noselect {
	cursor: default;
	/* whatever */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
